/* ============================
   GRID PREMIUM PARA PANTALLAS
   ============================ */

.premium-screen {
    padding: 40px;
}

.screen-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.screen-left, .screen-right {
    background: rgba(255, 255, 255, 0.07);
    padding: 20px;
    border-radius: 24px;
    border: 1px solid rgba(253, 191, 18, 0.4);
    box-shadow: var(--shadow-soft);
}

.screen-title {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 10px;
}

.panel-placeholder {
    height: 250px;
    background: rgba(255,255,255,0.05);
    border: 1px dashed rgba(253, 191, 18, 0.5);
    border-radius: 16px;
}
.nav-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

